.view {
    	-fx-background-color: #ffffff;
}
.vBox {    
    	-fx-background-color: #101b53;
}
.splitPane {
	-fx-background-color: #ffffff;
}
.borderPane{
    	-fx-background-color: #ffffff;
}
.openFocusTimer {
    	-fx-background-color: #101b53;
    	-fx-text-fill: #ffffff;
    	-fx-font: 12px "Verdana";
}
.openFocusTimer:hover {
    	-fx-background-color: #1ec4dc;
}
.howTo {
    	-fx-background-color: #101b53;
    	-fx-text-fill: #ffffff;
    	-fx-font: 12px "Verdana";
}
.howTo:hover {
    	-fx-background-color: #1ec4dc;
}
.logoutButton{
	-fx-background-color: #FF0000;
    	-fx-text-fill: #ffffff;
    	-fx-font: 12px "Verdana";
}
.logoutButton:hover {
	-fx-text-fill: #000000;
}
.changePasswordButton{
	-fx-background-color: #2F4F4F;
    	-fx-text-fill: #ffffff;
    	-fx-font: 12px "Verdana";
}
.changePasswordButton:hover {
	-fx-background-color: #708090;
	-fx-text-fill: #000000;
}
.successfulPing {
	-fx-background-color: green;
	-fx-font: 12px "Verdana";
}
.badPing {
	-fx-background-color: #FF0000;
	-fx-font: 12px "Verdana";
}
.userLabel {
	-fx-text-fill: #101b53;
	-fx-font: 16px "Verdana";
	-fx-font-weight: bold;
}
.menuBar {
	-fx-font: 11px "Verdana";
}